body[data-action="index"][data-controller="initiatives"][data-namespace="null"]
  #content
    .new .button
      margin-bottom: flex-gutter(6)
      +span-columns(6)
      +media($tablet)
        +span-columns(4)
        +shift(2)
      +media($desktop)
        +span-columns(4)
        +shift(4)
    .about
      margin-bottom: flex-gutter(6)
      ul
        padding: 0
        list-style: none
        li
          text-align: center
          +span-columns(6)
          +media($tablet)
            +span-columns(8)
          +media($desktop)
            +span-columns(4)

