body[data-action="index"][data-controller="initiatives"][data-namespace="null"]
  #header_wrapper header
    h1
      padding: 1em 0
    .new
      +span-columns(6)
      padding: 2em 0 6em 0
  #content_wrapper
    background: $container_color
  #content
    .text
      text-align: center
      margin: 3em 0 6em 0