body[data-action="show"][data-controller="initiatives"][data-namespace="null"]
  #pre_header_wrapper
    .image
      margin-bottom: 4em
      max-height: 19.1vw
      overflow: hidden
      +media($large_desktop)
        max-height: em(229.2)
      img
        width: 100%
  #post_header_wrapper
    margin-top: 4em
    background-color: $container_color
    .status
      h2
        color: $text_color
        font-weight: $normal_weight
        font-size: 1.5em
        +media($tablet)
          +span-columns(4)
        +media($desktop)
          +span-columns(6)
        text-align: center
        padding: flex-gutter(6) 0
        span.currency
          font-size: 1.5em
        span.number
          color: $link_color
          font-size: 3em
          font-weight: $bold_weight
  #content
    .contribute
      +span-columns(6)
      text-align: center
      margin: flex-gutter(4) 0
    .first_text, .second_text
      +span-columns(6)
    .admin
      +span-columns(6)
      margin: flex-gutter(6) 0
      padding: 0.6em
      background-color: $alternative_box_color
      h4
        color: $alternative_box_text_color
      label
        font-size: 0.9em
        font-weight: $bold_weight
