- content_for :title do
  = "Termos de uso"
p No presente termo, Unlock é definido como uma plataforma que conecta Iniciativas buscando financiamento coletivo ("Iniciativas") com pessoas interessadas em apoiá-las (“Apoiadores”). O Unlock não faz curadoria ou intermediação financeira, nem é responsável pelas Iniciativas, seu escopo, ou o uso do montante arrecadado, nem por quaisquer outros itens relacionados às Iniciativas que ultrapassem a plataforma online.
p 1.1. Ao acessar qualquer parte dos Serviços prestados pelo Unlock, o usuário está aceitando este Termos de Uso, em sua totalidade (“Termos de Uso”), bem como os termos e condições compreendidos pela nossa Política de Privacidade (“Política de Privacidade”), e qualquer outro aviso ou notificação publicado por nós na plataforma online (conjuntamente, “Documentos de Guia”). Caso não concorde com quaisquer dos termos estipulados nos Documentos de Guia, o usuário não deverá usar os Serviços.
p 1.2. O presente Termo de Uso se aplica a todos os usuários, tanto àqueles cadastrados quanto àqueles que apenas visualizam seu conteúdo e navegam pela plataforma online.
p 1.3. Podemos, discricionariamente, modificar esses Termos de Uso a qualquer momento. Ao acessar os Serviços a qualquer tempo após tais modificações, o usuário estará concordando com elas. O presente termo foi alterado pela última vez em 28/09/2014.
h3
  p Definições, direitos e deveres
p Proponente: pessoa física ou jurídica cadastrada na plataforma online que descreve seu produto, processo ou projeto, em busca de financiamento recorrente. O Proponente concentra as seguintes responsabilidades e direitos:
p (i) cadastrar uma Iniciativa na plataforma online, editando seu título, conteúdo, objetivos, meta de arrecadação e eventuais recompensas. O Proponente assume plena responsabilidade pelo conteúdo das Iniciativas criadas e entende que, uma vez criada uma Iniciativa, ela se torna imediatamente pública e aberta às doações pelos usuários interessados.
p (ii) fazer os ajustes de conteúdo/foto, descrição, que entender necessários, a qualquer tempo.
p (iii) interagir com os Apoiadores na plataforma online, bem como fora da plataforma, através dos meios online e offline disponíveis.
p (iv) manter a comunicação e prestação de contas com os Apoiadores, e garantir a entrega de eventuais recompensas. 
p (v) receber e gerenciar, diretamente de sua conta Moip, o valor integral das contribuições financeiras recebidas via plataforma, se responsabilizando por cancelamentos, estornos e reembolsos e arcando com a taxa cobrada pelo Moip (entre 3.7 e 7%).
p (vi) o Proponente se compromete a usar o montante arrecadado para realização das atividades comunicadas na página de sua Iniciativa. O Unlock não se responsabiliza por eventuais disparidades ou desvios de finalidade das Iniciativas que tenham ocorrido fora da plataforma online.
p (vi) o Proponente se compromete a não utilizar as informações pessoais dos Apoiadores de forma ilegal ou abusiva, de forma não especificada ou sem permissão prévia.
p Apoiador: pessoa física ou jurídica cadastrada na plataforma online que contribui financeiramente com uma Iniciativa, mediante pagamento de um valor mensal estipulado por ela mesma. O Apoiador concentrará as seguintes responsabilidades e direitos:
p (i) ler com atenção o conteúdo da Inciativa antes de efetivar seu apoio, a fim de confirmar se as condições ali estabelecidas realmente interessam. 
p (ii) interagir com o Proponente e demais Apoiadores na página da Iniciativa criada na plataforma online, bem como fora da plataforma, através dos meios online e offline disponíveis. Recomendamos a interação prévia à contribuição, para resolução de dúvidas.
p (iii) o Apoiador está ciente de que as Iniciativas são oferecidas e organizadas diretamente pelos Proponentes responsáveis. O Unlock não cura, media ou organiza os Iniciativas, e não é responsável pelas informações fornecidas no perfil dos Proponentes ou nas páginas das Iniciativas.
p Iniciativa: atividade profissional, empresarial, projeto pessoal ou de organização sem fins lucrativos sustentada - exclusivamente ou não - pela contribuição financeira de Apoiadores. As Iniciativas obedecerão as condições previstas pelos próprios Proponentes, sem qualquer curadoria ou intermediação do Unlock. 
p O Unlock não é responsável pela realização efetiva das Iniciativas, portanto, os Apoiadores não poderão responsabilizar o Unlock ou pedir qualquer tipo de reembolso relativo à qualidade das Iniciativas, em qualquer sentido e no que tange à organização, práticas, entregas, conduta do Proponente, etc. Tais assuntos deverão ser tratados diretamente com o Proponente responsável.
h3
  p Descrição dos Serviços
p Os Serviços do Unlock permitem que pessoas interessadas em desenvolver alguma Iniciatica encontrem pessoas dispostas a apoiar financeiramente a produção de bens e serviços, e organização de projetos de seu interesse. O Unlock não intermedia ou faz a curadoria de qualquer Iniciativa, que ficará única e exclusivamente a cargo dos Proponentes e Apoiadores.
p O Unlock se reserva, desde já, o direito de não prover os Serviços para qualquer pessoa, por qualquer motivo, e/ou interromper os Serviços no todo ou em parte, a qualquer tempo, com ou sem aviso prévio.
h3
  p Cadastro e Informações
p Para criar uma Iniciativa como Proponente ou financiar uma Iniciativa como Apoiador, o usuário deverá estar devidamente cadastrado na plataforma online. Ao fazer um cadastro, o usuário se responsabiliza por todos os dados e garante a veracidade de todas e quaisquer informações prestadas. 
p O acesso ao cadastro será feito pelo usuário exclusivamente, por meio de dados de resdes sociais ou nome de usuário e senha. O usuário é o único responsável por manter a segurança de seu cadastro, incluindo senha e dados do perfil. O Unlock não se responsabiliza por qualquer dano causado devido à perda de senha ou controle de segurança do perfil do usuário.
p O Unlock se compromete a não utilizar nenhuma informação fornecida pelo usuário para fins ilícitos nos termos da legislação brasileira vigente, ou divulgá-las publicamente sem autorização do usuário.
p O usuário concorda em fornecer apenas informações e dados verdadeiros, completos, atuais e corretos ao fazer o cadastro para a plataforma online, bem como mantê-los dessa forma. O usuário poderá ser responsabilizado por qualquer informação falsa, incorreta ou desatualizada. Caso o Unlock tenha razões para suspeitar da veracidade das informações prestadas, terá o direito de suspender ou cancelar, independentemente de notificação, o cadastro do usuário e os Serviços a ele prestados. 
p O usuário concorda em usar a plataforma online apenas para fins legais e será exclusivamente responsabilizado caso isso não ocorra. Caso identifique qualquer prática ilegal na plataforma online, o Unlock terá o direito de suspender ou cancelar, independentemente de notificação, o cadastro do usuário e os Serviços a ele prestados, deletar conteúdos produzidos por ele, bem como denunciá-lo, nos termos da legislação aplicável. 
p O usuário concorda em não utilizar a plataforma online e os Serviços de forma a prejudicar outro usuário ou infringir seus direitos.
p O usuário concorda em utilizar, na plataforma online, apenas dados (conteúdo, fotos, etc) de autoria própria, de domínio público, ou submetidos à licenças Creative Commons que permitam a reprodução e/ou remixagem. Está expressamente proibida a utilização pelo usuário de qualquer conteúdo protegido sem a expressa autorização do proprietário.
h3
  p Apoios, Taxas e Pagamentos
p As Iniciativas podem arrecadar qualquer montante financeiro, sem, necessariamente, uma meta prė-estabelecida pelo Proponente. Os Apoiadores contribuem para o montante total escolhendo o valor com o qual desejam apoiar a Iniciativa mensalmente. O pagamento das contribuições serão feitos via Moip e uma vez aprovado o pagamento, o débito será feito recorrentemente na conta do Apoiador e, o crédito correspondente irá diretamente para a conta Moip do Proponente, descontadas as taxas do Moip, sem qualquer envolvimento financeiro do Unlock. A suspensão da assinatura de apoio recorrente pode ser feita a qualquer tempo na sessão "Unlocks Apoiados".
p O Unlock não dá nenhuma garantia em relação à falhas de processamento de pagamentos pelo Moip e não poderá ser responsabilizado por quaisquer problemas provenientes de tais transações financeiras de pagamento online ou falhas das operadoras de cartão de crédito. As únicas taxas aplicáveis são as referentes ao serviço prestado pelo Moip (entre 3.7 e 7%).
h3
  p Lei Aplicável
p Este termos são regidos única e exclusivamente pelas leis brasileiras. Qualquer ação judicial relativa a sua interpretação e/ou aplicação deverá ser proposta em jurisdição brasileira e julgada pelo Poder Judiciário brasileiro. Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio, deverá sempre prevalecer a legislação do Estado de São Paulo. O foro eleito para resolução de eventuais conflitos é o da cidade de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.
