- content_for :title do
  = "Termos de uso"
p Aqui estarão os termos de uso do Unlock. Podem ficar tranquilos que antes de lançarmos eles estarão aqui, e com o conteúdo legal correto e adequado ao Moip Assinaturas. No entanto, em função da urgência do lançamento, peço que homologuemos antes de subí-los. Agradeço imensamente :D
