@mixin unlock_button
  background: $button_color
  padding: 0.2em 1.2em
  border-radius: 0.4em
  border: none
  text-align: center
  color: $button_text_color
  font-weight: $bold_weight
  font-size: 2.2em
  line-height: 100%
  text-decoration: none
  width: auto
  cursor: pointer
  &:hover
    background: $button_hover_color
    color: $button_text_color
.button
  +unlock_button
.links
  +span-columns(6)
  text-align: center
.field
  margin-bottom: 2em
.menu
  position: relative
  .open
    text-decoration: none
    color: $subheadline_color
    &:hover
      color: $hover_color
  nav
    z-index: 500
    position: absolute
    top: 3em
    left: 0
    min-width: 100%
    display: none
    background-color: $container_color
    border: 1px solid $border_color
    a
      text-decoration: none
      display: block
      padding: 0.5em
      color: $subheadline_color
      margin: 0 !important
      color: $text_color !important
      &:hover
        background-color: $highlight_color
        text-decoration: none !important
.initiatives
  h2
    a
      &.mobile
        +media($tablet)
          display: none
        +media($desktop)
          display: none
      &.not_mobile
        display: none
        +media($tablet)
          display: inline
        +media($desktop)
          display: inline
      font-size: 0.9em
      font-weight: $normal_weight
      text-decoration: none
      float: right
      color: $alternative_link_color
      &:hover
        color: $alternative_hover_color
.initiative
  position: relative
  +span-columns(6)
  height: 38.625vw
  overflow: hidden
  background-color: $box_color
  border-bottom: 0.2em solid $border_color
  margin-bottom: 1em
  &:hover
    .image
      display: none
    .status
      display: block
  +media($tablet)
    font-size: 1.382em
    +span-columns(4)
    +omega(2n)
    margin-bottom: 2em
  +media($desktop)
    font-size: 1.382em
    +span-columns(4)
    +omega(3n)
    height: 22vw
    margin-bottom: 4em
  +media($large_desktop)
    height: 263px
  .image, .status
    overflow: hidden
    height: 61.8%
    img
      width: 100%
  .image
    background: $border_color
  .status
    display: none
    background-color: $box_hover_color
    padding: 1em 0.4em
    h5
      +span-columns(3)
      &:first-child
        text-align: left
        +media($tablet)
          text-align: right
        +media($desktop)
          text-align: right
      +media($tablet)
        +span-columns(8)
      +media($desktop)
        +span-columns(12)
      color: $text_color
      font-weight: $normal_weight
      font-size: 0.9em
      text-align: right
      margin-bottom: 1em
      span.currency
        font-size: 1em
      span.number
        color: $box_color
        font-size: 2.6em
        font-weight: $bold_weight
  a
    text-decoration: none
  .info
    padding: 0.4em
    height: 38.2%
    h3, h4
      font-family: $standard_font
      font-style: normal
      font-size: 0.6em
      color: $text_color
      +media($tablet)
        font-size: 0.7em
    h3
      font-weight: $bold_weight
      margin-bottom: 0.8em
    h4
      font-weight: $normal_weight
.contributions
  padding: 0
  list-style: none
.contribution
  position: relative
  +span-columns(6)
  height: 10em
  overflow: hidden
  background-color: $container_color
  margin-bottom: 2em
  .image, .contribution_actions, .info, .status
    overflow: hidden
    float: left
  .image, .info
    height: 61.8%
  .contribution_actions, .status
    height: 38.2%
  .image
    background: $border_color
    width: 50%
    img
      width: 100%
  .contribution_actions
    width: 50%
    background-color: $border_color
    padding: 1em
    text-align: right
    h5
      display: none
      font-size: 1em
      +media($desktop)
        line-height: 2em
      &.success
        color: $flash_success_color
      &.failure
        color: $flash_failure_color
    .button
      background: $button_hover_color
      font-size: 0.8em
      margin-left: 0.5em
      line-height: 3em
      padding: 0.5em 1em
      +media($tablet)
      +media($desktop)
        font-size: 1em
        margin-left: 1em
        line-height: 2em
        padding: 0.5em 1em
      &:first-child
        margin-left: 0
      &:hover
        background: $button_color
  .status
    width: 50%
    background-color: $box_hover_color
    padding: 1em
    h5
      width: 50%
      float: left
      color: $text_color
      font-weight: $normal_weight
      font-size: 0.7em
      text-align: right
      span.currency
        font-size: 1em
      span.number
        font-size: 2em
        color: $box_color
        font-weight: $bold_weight
      &:first-child
        color: $box_color
        font-weight: $bold_weight
        text-align: left
        font-size: 1em
        +media($desktop)
          font-size: 1.5em
  a
    text-decoration: none
  .info
    width: 50%
    padding: 0.4em
    h3, h4
      font-family: $standard_font
      font-style: normal
      font-size: 0.6em
      color: $text_color
      +media($tablet)
        font-size: 0.8em
      +media($desktop)
        font-size: 1em
    h3
      font-weight: $bold_weight
      margin-bottom: 0.8em
    h4
      font-weight: $normal_weight
.editable
  cursor: pointer
  &::before
    font-family: "icomoon"
    content: "\e003"
    float: right
  &.rip-active
    border: none
    &::before
      content: none
    &::after
      content: "Salvar"
      +unlock_button
      font-size: 1em
  &[data-formtype=checkbox]
    &::before
      content: none
    &.rip-active
      &::after
        content: none
  &[data-formtype=timestamp]
    &.rip-active
      &::after
        content: none
    [type=submit]
      +unlock_button
      width: auto
      margin: 0
      margin-right: 0.5em
    .cancel
      line-height: 2.5em
  .rest-in-placeholder
    color: $strong_border_color
    border-bottom: 1px dashed $strong_border_color
.saving
  font-size: 1em
  font-weight: $bold_weight
  color: $highlight_color
.tips
  background-color: $alternative_highlight_color
  color: $alternative_highlight_text_color
  padding: 0.618em
  +media($desktop)
    font-size: 1.382em
  h5
    color: $alternative_highlight_text_color
  a
    color: $alternative_highlight_text_color
    &:hover
      color: $alternative_hover_color